td {
    width: 14%;
    max-width: 14%;
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
th {
    padding: 10px;
}
.my-table {
    width: 100%;
    max-width: 100%;
}
.today {
    border: 2px double red;
}
.blue {
    color: #00FFFF;
}
.red {
    color: #FF00FF;
}
.green {
    color: #008000;
}