td {
    width: 14%;
    max-width: 14%;
}
.center {
    text-align: center;
}
.today {
    background-color: #E8FDE7;
}
.mobile {
    display: none;
}
.month {
    text-align: center;
}
.sortable {
    min-height: 50px;
}
.context-menu-item.icon-edit {
    background-image: url(/static/img/page_white_edit.png);
}
.context-menu-item.icon-delete {
    background-image: url(/static/img/page_white_delete.png);
}
.context-menu-item.icon-completed {
    background-image: url(/static/img/check.gif);
}
@media (max-width: 767px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .mobile_list {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .mobile .row {
        border-bottom: 1px solid #ccc;
    }
}