{% extends "base.html" %}
{% block content %}
<a href="/category/{{ category.id }}">{{ category.name }}</a>
<a href="/category/{{ category.id }}/delete">delete</a>
<form action="/category/{{ category.id }}" method="post" id="new_category">
  <div class="forum-group">
    <label for="new-category-input">Category</label>
    <input type="text" class="form-control" id="new-category-input" name="name" value="{{ category.name }}" />
  </div>
  <div class="forum-group">
    <label for="color-input">Color</label>
      <select name="color" id="color-input" form="new_category" class="form-control" autocomplete="off">
          <option value="blue">blue</option>
          <option value="black">black</option>
          <option value="green">green</option>
          <option value="red">red</option>
      </select>
  </div>
  <button type="submit" class="btn btn-default">Update Category</button>
</form>
{% endblock %}
