<div class="col-md-4 col-xs-12">
<h4>Due Date</h4>
{% if due_date %}
<form action="/due_date/{{ due_date.id }}" method="post" id="new_due_date">
{% else %}
<form action="/due_date" method="post" id="new_due_date">
{% endif %}
<div class="form-group">
    <label for="name-input">Name</label>
    {% if due_date %}
    <input type="text" class="form-control" id="name-input" name="name" value="{{ due_date.name }}" />
    {% else %}
    <input type="text" class="form-control" id="name-input" name="name" placeholder="name" />
    {% endif %}
</div>
<div class="form-group">
    <label for="description-input">Description</label>
    {% if due_date %}
    <textarea class="form-control" id="description-input" name="description" placeholder="Description" rows="3">{{due_date.description }}</textarea>
    {% else %}
    <textarea class="form-control" id="description-input" name="description" placeholder="Description" rows="3"></textarea>
    {% endif %}
</div>
<div class="form-group">
    <label for="category-input">Category</label>
    <select name="category" form="new_due_date" class="form-control" autocomplete="off">
    {% for category in categories %}
    {% if due_date %}
    {% if category.name == due_date.category.name %}
    <option value="{{ category.name }}" selected="selected">{{ category.name }}</option>
    {% endif %}
    {% else %}
    <option value="{{ category.name }}">{{ category.name }}</option>
    {% endif %}
    {% endfor %}
    </select>
</div>
<div class="form-group">
    <label for="datepicker-input">Date</label>
    <div class="input-group date">
        {% if date %}
        <input type="text" name="date" class="form-control" id="datepicker-input" value="{{ date }}" autocomplete="off">
        {% else %}
        <input type="text" name="date" class="form-control" id="datepicker-input" autocomplete="off">
        {% endif %}
        <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
    </div>
</div>
<div class="form-group">
    {% if due_date %}
    <button type="submit" class="btn btn-default">Update Due Date</button>
    <a class="btn btn-default" href="/due_date/{{ due_date.id }}/delete" role="button">Delete Due Date</a>
    {% else %}
    <button type="submit" class="btn btn-default">Add Due Date</button>
    {% endif %}
</div>
</form>  
</div>
