{% extends "base.html" %}
{% block content %}
<script>
$(function() {
$("#datepicker-input").datepicker({
    format: 'mm/dd/yyyy'
});
$('.color-group').colorpicker();
});
</script>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <form action="/task" method="post" id="new_task" class="">
    <div class="form-group">
        <label for="name-input">Name</label>
        <input type="text" class="form-control" id="name-input" name="name" placeholder="Name" />
    </div>
    <div class="form-group">
        <label for="description-input">Description</label>
        <textarea class="form-control" id="description-input" name="description" placeholder="Description" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="category-input">Category</label>
        <select name="category" form="new_task" class="form-control">
        {% for category in categories %}
        <option value="{{ category.name }}">{{ category.name }}</option>
        {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="datepicker-input">Date</label>
        <div class="input-group date">
            <input type="text" name="date" class="form-control" id="datepicker-input" value="{{ date }}" autocomplete="off">
            <div class="input-group-addon"><span class="glyphicon glyphicon-th" aria-hidden="true"></span></div>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Add Task</button>
    </div>
    </form>  
  </div>
  <div class="col-xs-12 col-md-6">
    <form action="/category" method="post" id="new_category">
    <div class="form-group">
        <label for="new-category-input">Category</label>
        <input type="text" class="form-control" id="new-category-input" name="name" placeholder="Name" />
    </div>
    <div class="form-group">
        <label for="color-input">Color</label>
        <div class="input-group color-group">
            <input type="text" class="form-control" id="color-input" name="color" value="00AABB" />
            <span class="input-group-addon"><i></i></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Add Category</button>
    </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ calendar|safe }}
  </div>
</div>
<div class="row">
{% for category in categories %}
  <div class="col-md-3">
  <h3><a href="/category/{{ category.id }}" style="color:{{category.color}}">{{category.name}}</a></h3>
  <ul>
  {% for task in category.tasks %}
  <li><a href="/task/{{ task.id }}">{{ task.name }}</a> {{task.date.strftime('%m/%d/%Y') }}
    <a href="/task/{{ task.id }}/delete">delete</a>
  <br />{{ task.description }}
  </li>
  {% endfor %}
  </ul>
  </div>
{% if loop.index % 4 == 0 and not loop.last %}
  </div>
  <div class="row">
{% endif %}
  {% if loop.last %}
  </div>
  {% endif %}
{% endfor %}
{% endblock %}
