<html>
  <head><title>hello</title></head>
  <body>
<form method="POST" action="/login">
	Username:
	<input type="text" name="username">
	Password:
	<input type="password" name="password">
	<input type="submit" value="Login">
</form>
<br />
<br />
<br />
<form method="POST" action="/register">
	Username:
	<input type="text" name="username">
    Email:
	<input type="text" name="email">
	Password:
	<input type="password" name="password">
	<input type="submit" value="Register">
</form>
  </body>
  </html>
