<script>
$(function() {
$(".sortable").sortable({
    connectWith: ".sortable",
    update : function (event, ui) { 
        var data = $(this).sortable('serialize').toString();
        var date = $(this).closest('td').attr('id');
        if (date === undefined) {
           date = $(this).closest('div').attr('id');
        }
        var ajax_data = data + "&date=" + date;
        ajax_data = ajax_data.replace(/\//g , "%2F").replace(/\[/g, "").replace(/\]/g, "");
        $.ajax({
            url : "/task_position",
            type: "POST",
            data : ajax_data,
            success: function(data, textStatus, jqXHR)
            {
                //data - response from server
            },
            error: function (jqXHR, textStatus, errorThrown)
            {
            //$(".info").html(errorThrown); 

            }
        });
    } 
}).disableSelection();
$.contextMenu({
    selector: '.contextmenu', 
    autoHide: true,
    items: {
        "edit": {name: "Edit", icon: "edit", callback: function(key, options) {
            item = $(this).attr('id').split("_");
            if (item[0] === 'task') {
            window.location = '/task/' + item[1];
            } else if (item[0] === 'duedate') {
            window.location = '/due_date/' + item[1];
            }
            }},
        "delete": {name: "Delete", icon: "delete", callback: function(key, options) {
            item = $(this).attr('id').split("_");
            if (item[0] === 'task') {
            $.get('/task/' + item[1] + '/delete');
            $(this).remove();
            } else if (item[0] === 'duedate') {
            $.get('/due_date/' + item[1] + '/delete');
            $(this).remove();
            }
        }},
        "completed": {name: "Completed", icon: "completed", callback: function(key, options) {
            item = $(this).attr('id').split("_");
            if (item[0] === 'task') {
            $.get('/task/' + item[1] + '/completed');
            $(this).children().get(0).innerHTML = "<s>" + $(this).children().get(0).innerHTML + "</s>";
            $(this).children().css("color", "grey");
            $(this).fadeOut('slow');
            }
        }}
    }
});
var scrollTo = $('#today');
var scrollTo2 = $('#today2');
if ($('.desktop').is(":visible")) { 
$('html,body').animate({scrollTop: scrollTo2.offset().top});
} else {
$('html,body').animate({scrollTop: scrollTo.offset().top});
}
});
</script>
<div class="row">
  <div class="col-xs-12">
    <div class="info">
      </div>
    <table class="table table-bordered desktop">
      <tr><th>
          {% if month_number == 1 %}
          <a href="/date/12">Previous month</a>
          {% else %}
          <a href="/date/{{ month_number - 1 }}">Previous month</a>
          {% endif %}
        </th><th class="month" colspan="5"><h3>{{ month }} {{ year}}</h3></th><th><a href="/date/{{ month_number + 1 }}">Next month</a></th></tr>
      <tr><th class="Sunday">Sunday</th><th class="Monday">Monday</th><th class="Tuesday">Tuesday</th><th class="Wednesday">Wednesday</th><th class="Thursday">Thursday</th><th class="Friday">Friday</th><th class="Saturday">Saturday</th></tr>
    {% for week in calendar %}
    <tr>
    {% for day in week %}
    {% if day[0] == date.day and date.month == month_number and year == date.year %}
      <td id="today2" class="today add_task" onclick="add_task(this.id)" id="{{month_number}}/{{day[0]}}/{{year}}">
    {% elif day[0] != 0 %}
      <td class="add_task" onclick="add_task(this.id)" id="{{month_number}}/{{day[0]}}/{{year}}">
    {% else %}
      <td>
    {% endif %}
    {% if day[0] != 0 %}
        {{ day[0] }}
    <ol class="sortable">
    {% else %}
    <ol>
    {% endif %}
    {% for task in day %}
    {% if not loop.first %}
        {% if task[2] == "due_date" %}
        <li class="contextmenu" style="color:{{ task[0] }}" id="duedate_{{task[1]}}"><a href="/due_date/{{ task[1]}}"><span style="background-color:{{task[0] }}; color: white">&nbsp;{{ task[3] }}&nbsp;</span></a></li>
        {% elif task[2] == "task" and current_user.is_authenticated() %}
            {% if task[3] != True %}
        <li class="contextmenu" style="color:{{ task[0] }}" id="task_{{task[1]}}"><a style="color:{{ task[0] }} !important; " href="/task/{{ task[1] }}">
            {{ task[4] }}
            {% endif %}
        </a></li>
        {% endif %}
    {% endif %}
    {% endfor %}
    </ol>
    </td>
    {% endfor %}
    </tr>
    {% endfor %}
    </table>
  </div>
</div>
