{% extends "base.html" %}
{% block content %}
<script>
function add_task(clicked_id)
{
    window.location.href = "/both/date/" + clicked_id;
}
function view_task(clicked_id)
{
    window.location.href = "/task/" + clicked_id;
}
$("div.add_task").click(function(event){
    event.stopPropagation();
});
</script>
{% if current_user.is_authenticated() == False %}
<div class="row">
  <div class="col-xs-12 col-md-6">
    <p>
    I made this calendar so that people can organize themselves easily
    this sophmore year. This is the calendar that I've created under
    my account (and will be updated as the year goes on), so that you
    can see what this app can do.
    </p>
    <p>You can</p>
    <ul>
        <li>use it on mobile</li>
        <li>strikethrough tasks that are done</li>
        <li>add due dates</li>
        <li>add assignments</li>
        <li>add categories</li>
        <li>customize the different colors</li>
    </ul>
    <p>
    Create an account to check it out and add your own assignments.
    Tell me if you have any suggestions/comments.
    </p>
    <p>
    -Nick
    </p>
    <br />
  </div>
</div>
{% endif %}
{% include "mobile_calendar.html" %}
{% include "desktop_calendar.html" %}
{% include "task_list.html" %}
{% endblock %}
